[submodule "syntastic"]
    path = .vim/bundle/syntastic
    url = git://github.com/scrooloose/syntastic.git
[submodule "vim-airline"]
    path = .vim/bundle/vim-airline
    url = git://github.com/bling/vim-airline.git
[submodule "oh-my-zsh"]
    path = .oh-my-zsh
    url = git://github.com/robbyrussell/oh-my-zsh.git
